.App {
  background-image: linear-gradient(79deg, #fcfced, #fcfced, #ebf6ff);
}

.mainContent {
  text-align: center;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  padding-top: 2rem;
}